# O prefixo VITE_ é obrigatório para o React ter acesso a essa variável no navegador
# ==========================================
# 🌐 CONFIGURAÇÕES DO FRONTEND (REACT / VITE)
# ==========================================

# O prefixo VITE_ é obrigatório para o React ter acesso a essa variável no navegador.
# Esta variável diz ao frontend onde o backend está hospedado.
# 
# ATENÇÃO AOS AMBIENTES:
# - Se for rodar na sua máquina local: http://localhost:3000
# - Se for rodar no Github Codespaces: https://seu-link-gerado-pelo-github.app.github.dev
# 
# Nota: Certifique-se de terminar sem barra (/) e sem o "/api" caso o seu 
# arquivo src/services/api.js já adicione o /api automaticamente.
VITE_API_URL=http://localhost:3000


# ==========================================
# ⚙️ CONFIGURAÇÕES DA API (BACKEND NODE.JS)
# ==========================================

# Porta de comunicação interna onde o servidor Node.js vai rodar.
PORT=3000

# Chave secreta (Assinatura) para a geração dos Tokens JWT de Autenticação.
# Por segurança, em produção esta deve ser uma string longa e aleatória que 
# apenas o servidor conhece. Se essa chave mudar, todos os usuários são deslogados.
JWT_SECRET=sua_chave_secreta_super_segura_aqui


# ==========================================
# 🗄️ BANCO DE DADOS NOSQL (MONGODB)
# ==========================================
# Usado para armazenar os catálogos dinâmicos: Carros, Motos e Roupas.

# URL de conexão (Connection String) do Mongoose.
# Como estamos usando Docker, o endereço "mongo" aponta direto para o container 
# do banco de dados na rede virtual.
MONGO_URI=mongodb://mongo:27017/db_trabalho_nosql


# ==========================================
# 🗃️ BANCO DE DADOS RELACIONAL (POSTGRESQL)
# ==========================================
# Usado para garantir a integridade dos dados de Autenticação e Usuários.

# Endereço do container do PostgreSQL definido no docker-compose.yml
DB_HOST=postgres

# Porta padrão de comunicação do PostgreSQL
DB_PORT=5432

# Credenciais de acesso ao banco. (Devem bater com as configurações do docker-compose)
DB_USER=postgres
DB_PASSWORD=senha_super_segura

# Nome do banco de dados que será criado/acessado automaticamente na inicialização
DB_NAME=db_trabalho_sql